<div>
  <button (click)="OnCreate()">updateform</button>
  <form [formGroup]="newform" (ngSubmit)="onSubmit()">
    <div *ngFor="let question of questions" class="form-row">
      <mat-form-field class="example-full-width">
        <mat-label>{{question.label}}</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." [formControlName]="question.key" [id]="question.key" required [type]="question.type"></textarea>
      </mat-form-field>
      <label>{{ newform.get('Firstname').value }}</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>