<app-side-bar (data) = "filter_list($event)"></app-side-bar>
<div class="main">
    <div class="content">
        <div class="filter">
            <input type="text" class="form-control" placeholder="Filter par Nom" [(ngModel)]="filterTerm">
            <button class="btn btn-danger">Exporter Sélection</button>
            <button class="btn btn-danger">Exporter Tout</button>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Titre</td>
                    <td>Langue</td>
                    <td>Status</td>
                    <td>Pays</td>
                    <td>Année</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let show of movies$ | filter:filterTerm" (click)="selected($event)">
                    <td>{{show.title}}</td>
                    <td>{{show.language}}</td>
                    <td>{{show.status}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="movies$"><p>nombre total de films : {{ movies$.length }}</p></div>
    </div>
</div>
