<app-side-bar (data) = "filter_list($event)"></app-side-bar>
<div class="main">
    <div class="content">
        <div class="filter">
            <input type="text" class="form-control" placeholder="Filter par Nom" [(ngModel)]="filterTerm">
            <button class="btn btn-danger">Exporter Sélection</button>
            <button class="btn btn-danger">Exporter Tout</button>
        </div>
        <div class="table">
        <table>
            <thead>
                <tr>
                    <td>Titre</td>
                    <td>Langue</td>
                    <td>Episode(s)</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let show of movies$ | filter:filterTerm; index as i" id={{i}} (click)="selected($event)" [ngClass]="{select: select === show.id}">
                    <td>{{show.title}}</td>
                    <td>{{show.language}}</td>
                    <td>{{show.episodes}}</td>
                    <td>{{show.status}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div *ngIf="movies$"><p>nombre total de films : {{ movies$.length }}</p></div>
    </div>
    <app-details [data]="children_data"></app-details>
</div>
