p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #928F8F;
    font-size: small;
}

tr.select {
    background-color: magenta;
}

.main {
    margin-left: 3em !important;
    display: flow-root;
    border-radius: 0.2em;
}

.filter {
    display: inline-flex;
}
thead {
    background-color: #1976d2;
    color: white;
}
table {
    margin: 1em;
    border-collapse: separate !important;
    border-spacing: 0.2em !important;
}

button:nth-child(2) {
    margin-left: 2em;
    margin-right: 1em;
}

button {
    background-color: gray !important;
    border-style: none;
}

.content {
    margin: 1em !important;
}