h3 {
    padding-top: 2em;
}

.block {
    border-radius: 0.2em;
    border: 1px solid gray;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
}
.main.block {
    border: none;
    margin: 2em !important;
    text-align: center;
    max-height: 100em;
}