<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<div class="toolbar" role="banner">
  <nav>
    <ul class="navi">
      <img
      width="130"
      alt="Epitech"
      src="assets/epitech.png"
      />
    </ul>
  </nav>
</div>
<div class="Dasboard">
  <app-filter-list></app-filter-list>
  <app-details></app-details>
</div>


