<section>
  <mat-horizontal-stepper>
  <div *ngFor="let control of dynamicFormArray">
    <mat-step [stepControl]="lambdaFormGroup" label="{{ control.name }}">
      <div class="col-md-12">{{ myFormGroup.value | json }}</div>
      <div><p>{{errorMessage$}}</p></div>
        <form [formGroup]="myFormGroup">
          <div *ngFor="let field of control.fields">
            <div [ngSwitch]="field.type">
              <div *ngSwitchCase="'input'">
                <label>{{ field.name }}</label>
                <input type="text" [formControlName]="field.name" class="form-control">
              </div>
              <div *ngSwitchCase="'select'">
                <label>{{ field.name }}</label>
                <select class="form-control">
                  <option value="-1">Select</option>
                  <option *ngFor="let val of field.Data"> 
                    {{ val }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div>
            <br>
            <button class="btn btn-primary" mat-button matStepperPrevious>Previous</button>
            <button class="btn btn-primary" mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>
  </div>
</mat-horizontal-stepper>
<form class="center" [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
  <button class="btn btn-primary" type="submit" [disabled]="myFormGroup.invalid">Submit</button>
</form>
</section>