<div class="main">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Etat Pédago</a>
      <ng-template ngbNavContent>
        <div class="first_block">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder={{data.title}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Genre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder={{data.episodes}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder={{data.creation}}>
                </div>
            </div>
        </div>
    </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Historique</a>
      <ng-template ngbNavContent><div><input class="form-control" type="text" placeholder={{data}} readonly></div></ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>