ul.nav-tabs {
    padding-top: 3em;
}

.first_block {
    margin: 1em;
    border: 1px solid gray !important;
    border-radius: 1em;
    padding: 2em;
}

.main {
    position: relative;
    padding: 2em;
}